server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  datasource:
    url: "${DBMS_URL}"
    username: ${DBMS_USERNAME}
    password: "${DBMS_PASSWORD}"
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "${GG_CLIENT_ID}"
            client-secret: "${GG_CLIENT_SECRET}"
            redirect-uri: "http://localhost:5173/authenticate"
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            authorization-uri: "https://accounts.google.com/o/oauth2/v2/auth"
            token-uri: "https://oauth2.googleapis.com/token"
            user-info-uri: "https://www.googleapis.com/oauth2/v2/userinfo"
            user-name-attribute: "sub"
  mail:
    host: "smtp.gmail.com"
    port: 587
    username: "${EMAIL_USERNAME}"
    password: "${EMAIL_PASSWORD}"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  signerKey: "${JWT_SIGNER_KEY}"
  valid-duration: 3600 #180 in second (1 hour)
  refreshable-duration: 604800 # in second (7 days)

cloudinary:
  cloud_name: "dc7nlgj8t"
  api_key: "${CLOUDINARY_API_KEY}"
  api_secret: "${CLOUDINARY_API_SECRET}"

socket:
  host: localhost
  port: 9092

